@-webkit-keyframes fadeInfromLeft {
  0% {
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem); }
  100% {
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
    opacity: 1; } }

@keyframes fadeInfromLeft {
  0% {
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem); }
  100% {
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
    opacity: 1; } }

@-webkit-keyframes fadeInfromRight {
  0% {
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); }
  100% {
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
    opacity: 1; } }

@keyframes fadeInfromRight {
  0% {
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); }
  100% {
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
    opacity: 1; } }

@-webkit-keyframes fadeInfromBottom {
  0% {
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }

@keyframes fadeInfromBottom {
  0% {
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }

@-webkit-keyframes fadeInandRotate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes fadeInandRotate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
