.booking {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);

    &__book {
        background-image: linear-gradient(120deg, rgba(#fff, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg);
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
        @include respond(tab-land){
            width: 80%;
            margin: 0 auto;
             background-image: linear-gradient(120deg, rgba(#fff, 0.8) 70%, transparent 70%), url(../img/nat-10.jpg);
        }
         @include respond(tab-port){
            width: 80%;
            margin: 0 auto;
             background-image: linear-gradient(120deg, rgba(#fff, 0.8) 100%, transparent 0%), url(../img/nat-10.jpg);
        }
    }

    &__form {
        width: 50%;
        padding: 5rem 3rem;
        @include respond(tab-land){
            width: 70%;
        }
        @include respond(tab-port){
            width: 100%;
        }
    }
}

.form {
    margin-top: 4rem;

    &__group {
        &:not(:last-child) {
            margin-bottom: 3rem;
        }

    }

    &__group--radio {
        width: 45%;
        display: inline-block;
        @include respond(tab-port){
            width: 100%;
            display: block;
            margin: 2rem 0;
        }
        
        .radio-input{
            display: none;
            &:checked + .radio-label .custom-radio-btn::after{
                opacity: 1;
            }
        }

        .radio-label {
            font-size: 1.6rem;
            color: #777;

            .custom-radio-btn {
                display: inline-block;
                width: 2.7rem;
                height: 2.7rem;
                border: 4px solid $primary-color;
                border-radius: 50%;
                margin-bottom: -0.7rem;
                margin-right: 1rem;
                position: relative;
                
                &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 1rem;
                    height: 1rem;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    background-color: $primary-color;
                    opacity: 0;
                }
            }

        }
    }

    &__input {
        padding: 1.2rem 1.5rem;
        width: 90%;
        display: block;
        outline: 0;
        font-family: inherit;
        color: inherit;
        font-size: 1.5rem;
        border: 0;
        background-color: rgba(255, 255, 255, 0.5);
        border-bottom: 3px solid transparent;
        transition: all 0.5s;
        @include respond(tab-port){
            width: 100%;
            
        }

        &::-webkit-input-placeholder {}

        &:focus {
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);

            &:invalid {
                border-bottom-color: firebrick;
            }

            &:valid {
                border-bottom-color: $primary-color;
            }


        }

    }

    &__label {
        display: block;
        margin-top: 1rem;
        font-weight: 700;
        margin-left: 1.5rem;
        font-size: 1.3rem;
        transform: translateY(0);
        opacity: 1;
        color: inherit;
        transition: all 0.5s;
    }

    .form__input:placeholder-shown + label {
        transform: translateY(-4rem);
        opacity: 0;
    }
}
