.stories{
    padding: 15rem 0;
    position: relative;
    overflow: hidden;
    &__card{
        @include clearfix;
        width: 80%;
       
        box-shadow: 0 2rem 4rem rgba(0,0,0,0.1);
        padding: 10rem;
        margin: 5rem auto;
        background-color: rgba(255,255,255, 0.5);
        transform: skewX(-20deg);
        
         @include respond(tab-port){
            width: 100%;
             transform: skewX(-12deg);
              padding: 5rem;
        }
         @include respond(phone){
             transform: skewX(0deg);
              padding: 5rem;
        }
        
        & > *{
            transform: skewX(20deg);
            @include respond(tab-port){
                transform: skewX(12deg)
            }
             @include respond(phone){
                 transform: skewX(0deg);
            }
        }
        
        &--image{
            width: 15rem;
            height: 15rem;
            float: left;
            border-radius: 50%;
            @supports ( ( clip-path: circle(50% at 50% 50%) ) or ( -webkit-shape-outside: circle(50% at 50% 50%) )  ){
                 -webkit-shape-outside: circle(50% at 50% 50%);
                shape-outside: circle(50% at 50% 50%);
                clip-path: circle(50% at 50% 50%);
                border-radius: none;
            }
            overflow: hidden;
            
            margin-right: 4rem;
            figure{
                height: 100%;
                position: relative;
                img{
                    height: 100%;
                    transform: translateX(-3.9rem) scale(1.4);
                    transition: all 0.5s;
                    
                }
                figcaption{
                     color: #fff;
                    font-size: 2rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    position: absolute;
                    top: 50%;
                    left: 51%;
                    transform: translate(-50%, 100%);
                    opacity: 0;
                    transition: all 0.5s;
                    text-align: center;
                    backface-visibility: hidden;
                    
                }
    
            }
            
                        
        }
        &--text{
            
        }
        &:hover{
            figcaption{
                transform: translate(-50%, -50%);
                opacity: 1;
            }
            figure img{
               filter: brightness(50%); 
                transform: translateX(-3.9rem) scale(1);
                filter: blur(5px);
            
            
            }
        }
    }
    
    .bg-video{
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
        opacity: 0.2;
    }
    
    
}